@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

body {

  background-image: url("comp.jpg");
  background-size:1400px 788px;
}

.navbar {
  font-family: Gloria Hallelujah;
  overflow: hidden;
  background-color: indianred;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;
}

.navbar a {
  top: 200px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

h1{
  position: fixed;
  top: 33%;
  left:42%;
}

.login{
  max-width:80px;
  position:fixed;
  top:50%;
  left:42%;
}
